@import "src/variables.scss";
@import "bootstrap";

.title {
  margin-top: 0.15 * $element-size;
  margin-bottom: 0.25 * $element-size;
}

.player-combo {
  margin-top: 0.15 * $element-size;
  margin-bottom: 0.35 * $element-size;
}

.form-control {
  width: 1.4 * $element-size;
  margin-top: 0.1 * $element-size;
  justify-self: center;
}

.text-muted {
  font-style: italic;
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
}
