/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "src/variables.scss";

html {
  height: 100%;
  background: $background-gradient;
}

.modal-content {
  background-color: $shadow-faded;
}

.modal-backdrop {
  background-color: rgba(black, 0.5);
}

.form-control {
  background-color: $shadow-faded !important;
  border: 1px solid $white-faded !important;
  color: $text-color !important;
}

.form-control:focus {
  @extend .form-control;
  border-color: $highlight-color;
  box-shadow: 0 0 0 0.2rem rgba($highlight-color, 0.25) !important;
}

.btn-success {
  background-color: $accent2-color !important;
  border-color: $accent2-color !important;
}

.btn-success:disabled {
  background-color: $midtone-color !important;
  border-color: $midtone-color !important;
  color: $highlight-color !important;
}
